.copper{
  color: rgba(150,100,40, 0.7);
}

.dark{
 color: rgba(60,60,60, 0.9); 
}

.lighter{
 color: rgba(90,90,90, 0.9); 
}

.darker{
 color: rgba(35,35,35, 0.9); 
}

.smaller{
  font-size: 85%;
}

h1, h2, h3, h4, .rw-light{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: none;
}

h3{
  font-size: 20px;
  letter-spacing: 0.2em;
  padding-bottom: 7px;
}

h4{
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-bottom: 1px;
  margin-bottom: 1px;
  color: rgba(90,90,90, 0.9); 

}



.indent1{
  padding-left: 7px;
  white-space: normal;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

i.indent1{
  line-height: 0.5;
}

.desc{
  font-size: 12px;
  color: rgba(40,40,40, 0.9); 

}

.social-icon .fa {
  font-size: 110%;
}
.container.holderinner {
  margin-left: 10px;
  margin-right: 10px;
}

.caption.subheader {
  margin-left: 5px;
  margin-right: 5px;
  left: inherit;
}

#block02 .responsive-slider .slides ul li .slide-body .caption.subheader {
    top: 25%;
    left: inherit;
    width:100%;
}

@media only screen and (max-width: 640px){
  #block02 .responsive-slider .slides ul li .slide-body img {
    filter: blur(3px) contrast(0.8);
    -webkit-filter: blur(3px) contrast(0.8);
    max-width: auto;
    width: auto;
    overflow: hidden;
  }
  #block01 .link-icons{
    padding-top: 6px;
  }
  #block02 .responsive-slider .slides ul li .slide-body .caption.subheader {
    top: 25%;
    left: inherit;
    width:100%;
}
  .slider-control{
    display: none;
  }

}

#block02 .responsive-slider .slides ul li .slide-body img {
    min-width: 100%;
    width: auto;
    min-height: 100%;
    height: 120%;
    max-height: 150%;
    overflow: hidden;
  }

#block01 .link-icons{
  padding:12px 0 0 0;
  float:right;
  }
#block01 .link-icons ul{
  float:right;
  margin:0;
  padding:0 0 0 0;
  }
#block01 .link-icons ul li{
  float:right;
  padding:0 10px;
  }
#block01 .link-icons ul li a{
  font-size:20px;
  } 

#myName {
  float: left;
  outline: none;
  position: relative;
  z-index: 999;
  border-radius: 0 0 0 0;
  line-height: 49px;
  background: none;
  padding: 0 20px;
  -webkit-transition: all .1s ease-in-out;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  color: #555555;
}

#block02 .responsive-slider .slides ul li .slide-body .caption.learnmore {
  bottom: 25%;
}

i.fa{
  display: inline-block !important;
}
